.o-form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.o-form .o-container-form {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.o-form .o-container-form .o-form-img {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.o-form .o-container-form .o-form-img img {
  width: 100%;
}
.o-form .o-container-form .o-form-info {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.o-form .o-container-form .o-form-info h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Roboto";
}
.o-form .o-container-form .o-form-info .o-form-date {
  width: 100%;
  border-color: #4587ff;
  border-radius: 0.3rem;
}
.o-form .o-container-form .o-form-info .o-form-date legend {
  font-family: "Roboto";
  color: #636363;
}
.o-form .o-container-form .o-form-info .o-form-date p {
  margin: 0;
  padding: 0;
}
.o-form .o-container-form .o-form-info .o-form-active {
  padding-top: 1rem;
}
