.o-TitleContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.o-SelectContainer{
    display: flex;
    justify-content: center;
}

.o-ImgContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.o-ImgContainer .o-Image{
    max-width: 70%;
    max-height: 70%;
}

.o-ImgContainer #addfileIcon{
    max-width: 15%;
    max-height: 15%;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.o-Infopet{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.o-Required{
    color: #4587FF;
}

.o-Form{
    display: flex;
    width: 100%;
    justify-content: center;
}

.o-Form label {
    padding: 1rem 0;
}

.o-InputText {
    background: #F3F3F3;
    margin: 0 5px;
    width: 100%;
    padding: 15px;
    border: 0;
    text-decoration: none;
    outline: none;
    font-size: 1.2rem;
}

.o-InputText:focus{
    outline: 1px solid #4587FF;
}

.o-InputRadio{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
}

.o-Left{
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem 2.5rem 0;
}

.o-Rigth{
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem 2.5rem 0;
}

.o-Sex{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.o-Sex #Hembra{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.o-Sex #Macho{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.o-City{
    padding-top: 12.5%;
}

.o-City input{
    margin-top: 1.2rem;
}

.o-Description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.o-Description textarea{
    min-width: 30rem;
    min-height: 10rem;
    background-color: rgb(190, 190, 190);
}

.o-Description label{
    padding-bottom: 1rem;
    width: 680px;
}

.o-SendForm{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 680px;
}

.o-SendForm button{
    color: white;
    border: none;
    height: 3rem;
    width: 8rem;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

#textArea{
    margin-right: 0;
}