.o-TitleContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.o-SelectContainer{
    display: flex;
    justify-content: center;
}

.o-ImgContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.o-ImgContainer .o-Image{
    max-width: 70%;
    max-height: 70%;
}

.o-ImgContainer #addfileIcon{
    max-width: 15%;
    max-height: 15%;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.o-Infopet{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.o-Form{
    display: flex;
    width: 100%;
    justify-content: center;
}

.o-Form label {
    padding: 1rem 0;
}

.o-Left{
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem 2.5rem 0;
}

.o-Rigth{
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem 2.5rem 0;
}

.o-Description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.o-Description textarea{
    min-width: 30rem;
    min-height: 10rem;
    background-color: rgb(190, 190, 190);
}

.o-Description label{
    padding-bottom: 1rem;
    width: 680px;
}

.o-SendForm{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 680px;
}

.o-SendForm button{
    color: white;
    border: none;
    height: 3rem;
    width: 8rem;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

#textArea{
    margin-right: 0;
}