body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

/*defino de titulos y enlaces*/

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
}

h5 {
  font-size: 1.5rem;
  font-weight: 100;
}

a {
  color: #ff5645;
  text-decoration: none;
}

/*formulario registro*/
.i-formulario-registro {
  width: 50%;
  margin: 16px 50px 0px 50px;
}

.i-formulario-registro h1 {
  margin: 0px 50px 20px 50px;
}

.i-formulario-registro h5 {
  margin: 30px 50px 10px 50px;
}

.ig-cuenta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.ig-formulario-registro-banner {
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  background-image: url("../../assets/img/fondRegistro.png");
}

/* datos de formulario*/
.i-datos-formularios {
  margin: 50px 80px 30px 80px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.i-datos-formularios p {
  font-size: 1rem;
  font-style: italic;
  color: #848484;
  margin: 0px 0px 30px 0px;
}

.i-texto-datos {
  font-size: 1.5rem;
  margin: 0px 0px 5px 0px;
}
/* decoracion de caja de texto*/
.i-caja-texto {
  background: #f3f3f3;
  padding: 15px;
  margin-bottom: 30px;
  border: 0;
  text-decoration: none;
  outline: none;
  font-size: 1.2rem;
}

.i-caja-texto:focus {
  outline: 1px solid #ff5645;
}

.i-btn-seleccion {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}

.i-btn-seleccion p {
  margin: 5px 20px 5px 10px;
  font-size: 1.5rem;
  font-style: normal;
  color: #000000;
  font-weight: 400;
}

/*    botones de check  */

.i-btn-check {
  margin: 10px 0;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f3f3f3;
  border: 0;
  outline: none;
}

.i-btn-enviar {
  background-color: #ff5645;
  width: 20%;
  border: 0;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  padding: 20px 5px 20px 5px;
  margin: 50px 350px 10px 350px;
  outline: none;
  cursor: pointer;
}

.i-btn-enviar:hover {
  background-color: white;
  color: #ff5645;
  outline: 1px solid #ff5645;
}

/************************************* CSS de Registro Mascota Abandonada ********************************************/

.ig-registro-mascota-encontrada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ig-registro-mascota-encontrada a {
  color: #4587ff;
  text-decoration: none;
}

.ig-registro-mascota-encontrada h1 {
  font-size: 40px;
  margin: 5px 0px 5px 0px;
}
.ig-registro-mascota-encontrada h5 {
  margin: 30px;
}

.i-fomulario-mascota-encontrada {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.i-img-mascota-encontrada {
  margin-right: 50px;
  width: 30%;
  height: 30%;
}

.i-iconos-mascota-encontrada {
  display: flex;
  flex-direction: row;
  margin: 5px 5px 5px 5px;
  padding: 10px;
}

.i-iconos-mascota-encontrada img {
  justify-content: center;
  margin: 5px 30px 5px 30px;
}

.i-datos-mascota-encontrada {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: left;
}

.i-datos-lado-mascota-encontrada {
  margin-left: 1px;
  display: flex;
  flex-direction: column;
}
/* acomodo los labels y los elementos que lo componen*/

.i-datos-texto-mascota-encontrada {
  display: flex;
  flex-direction: row;
}

/* uso de la herramienta tooltip para probar funcionalidad */
.tooltip {
  position: relative;
  display: inline-block;
  color: #4587ff;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 16px;
  font-style: italic;
  width: 300px;
  background-color: #4587ff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /*ubacion del tooltpip*/
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -160px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4587ff transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* input*/
.i-caja-mascota-mencontrada {
  background: #f3f3f3;
  padding: 15px;
  width: 100%;
  margin: 0px 10px 0px 0px;
  border: 0;
  text-decoration: none;
  outline: none;
  font-size: 1.2rem;
}

/*breve animacion de color al campo de texto (input) */

.i-caja-mascota-mencontrada:focus {
  outline: 1px solid #4587ff;
}

/*segunda parte del formulario */

.i-informacion-contenedo-mascota-encontrada {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.i-informacion-zona {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

/*decoracion elementos input label y text*/

.i-datos-texto-mascota-encontrada {
  font-size: 1.5rem;
  margin: 0px 0px 5px 0px;
}

.i-caja-mascota-encontrada {
  background: #f3f3f3;
  padding: 15px;
  margin-bottom: 30px;
  border: 0;
  text-decoration: none;
  outline: none;
  font-size: 1.2rem;
}

.i-caja-datos-zona {
  background: #f3f3f3;
  margin: 0 5px;
  width: 100%;
  padding: 15px;
  border: 0;
  text-decoration: none;
  outline: none;
  font-size: 1.2rem;
}

.i-caja-datos-zona:focus {
  outline: 1px solid #4587ff;
}

.fechaid {
  margin: 5px 0 5px 0;
}

/* textarea */

textarea {
  background: #f3f3f3;
  padding: 15px;
  margin-bottom: 30px;
  margin-right: 80px;
  height: 200px;
  border: 0;
  text-decoration: none;
  outline: none;
  font-size: 1.2rem;
}

textarea:focus {
  outline: 1px solid #4587ff;
}

/* boton decoracion*/
.i-boton-registart {
  justify-content: center;
  text-align: center;
  margin: 0 20px 0 5px;
}
.i-btn-registrar {
  background-color: #4587ff;
  width: 20%;
  border: 0;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  padding: 20px 5px 20px 5px;
  outline: none;
}

.i-btn-registrar:hover {
  background-color: white;
  color: #4587ff;
  outline: 1px solid #4587ff;
}
