body {
    font-family: 'Lato', sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000000;
}

footer {
    width: 100%;
    padding: 0rem 2rem 0rem 2rem;
    background-color: #22262A;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.o-container {
    background-color: #fff;
    padding: 0.3rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-banner {
    display: flex;
    align-items: center;
    width: 95%;
    min-width: 55rem;
    max-width: 85rem;
}

.o-banner .o-text-upimg {
    position: absolute;
    color: #ffffff;
    width: 20rem;
    margin: 3rem;
}

.o-nav {
    background: #ffffff;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border: solid 2px #d10f0f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.o-sub-menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.o-nav .o-enlaces {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.o-nav .o-enlaces a:hover {
    background-color: #FF5645;
    color: #ffffff;
}

.o-adoptar {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.o-block {
    width: 15rem;
    height: 7rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.o-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0.3rem;
}

.o-perros {
    margin: 1rem;
    padding: 1rem;
    width: 27rem;
    height: 12rem;
    background: url('../img/perro.png');
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.o-gatos {
    margin: 1rem;
    padding: 1rem;
    width: 27rem;
    height: 12rem;
    background: url('../img/gato.png');
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.o-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.o-btn-pr {
    background: #4587FF;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffffff;
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    border: none;
    margin: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-btn-pr img {
    width: 0.7rem;
    margin-right: 0.3rem;
}

.o-btn-pr:hover {
    background: #ffffff;
    color: #4587FF;
}

.o-btn-sg {
    background: #FF5645;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffffff;
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    border: none;
    margin: 0.3rem;
}

.o-btn-sg:hover {
    background: #ffffff;
    color: #FF5645;
}

.o-cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.o-cards .o-card {
    margin: 0rem 1rem 1rem 1rem;
    padding: 1rem;
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.o-cards .o-card .o-header img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.o-cards .o-card .o-name {
    margin: 0.2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.o-text-wh {
    font-weight: bold;
    font-size: 0.9rem;
    color: #ffffff;
}

footer img {
    max-width: 7rem;
}

footer .o-call {
    width: 12rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .o-call .o-phone {
    margin: 0rem 0.5rem 0rem 0.5rem;
    width: 100%;
}

footer .o-mail {
    width: 12rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .o-mail .o-text-wh {
    margin: 0rem 0.5rem 0rem 0.5rem;
}

footer .o-socialnet {
    width: 8rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-form {
    background: #4587FF;
    width: 100%;
    display: flex;
    justify-content: center;
}

.o-form .o-pet {
    padding: 1rem;
}

.o-img-dog {
    width: 27rem;
    height: 33rem;
    background: url('../img/dog-street.jpg') repeat center;
}

.o-form .o-block-date {
    margin-top: 1rem;
    padding: 1rem;
    width: 25rem;
    height: 33rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.o-form .o-pet-form {
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem;
    background-color: #ffffff;
    width: 35rem;
    height: 66rem;
}

.o-date .o-text-input {
    background: #ffffff;
    padding: 0.5rem 0.1rem 0.5rem 0.1rem;
    width: 4.3rem;
    position: relative;
    left: 0.5rem;
    top: 1rem;
    text-align: center;
    color: #4587FF;
    font-weight: bold;
}

.o-date .o-date-text {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #4587FF;
    font-weight: bold;
}

.o-legal {
    display: flex;
    justify-content: space-between;
}

.o-legal a {
    color: #4587FF;
    text-decoration: underline;
}